/* GLOBAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
}

.container{
  width: 70%;
  height: 500px;
  margin: auto;
}

/* HEADER */

header h1{
  color: white;
  text-shadow: 2px 2px 5px gray; 
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
}

/* MAIN */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.pattern{
  position: absolute;
  top: 0;
  z-index: 10;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-image: url(../img/pattern.png);
  background-size: 300px 150px;
  background-repeat: repeat;
}

main section .carta{
  position: relative;
  display: inline-block;
  background-color: white;
  width: 23%;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  color: #E61986;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 5px gray; 
  box-shadow: 2px 2px 5px gray;
  float: left;
  margin: 20px 1%;
}

p{
  padding-top: 230px;
  line-height: 5px;
}

.figura{
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.mongolfiera{
  background-image: url(../img/noun_air_balloon_3134741.png);
}

.bici{
  background-image: url(../img/noun_Bicycle_3134821.png);
}

.trattore{
  background-image: url(../img/noun_Tractor_3134797.png);
}

.nave{
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.sottomarino{
  background-image: url(../img/noun_Submarine_3134738.png);
}

.roulotte{
  background-image: url(../img/noun_Tram_3134750.png);
}

.carta:hover{
  color: #E67919;
}

.carta:hover .pattern{
  visibility: collapse;
}



/* FOOTER */

footer{
  font-size: 30px;
  text-align: center;
}