/* GLOBAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
}

.container{
  width: 60%;
  height: 500px;
  margin: auto;
}

/* HEADER */

header h1{
  color: white;
  text-shadow: black;
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
}

/* MAIN */

main .carta{
  background-color: white;
  width: 15%;
  height: 50px;
}