/* GLOBAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
}

.container{
  width: 70%;
  height: 500px;
  margin: auto;
}

/* HEADER */

header h1{
  color: white;
  text-shadow: 2px 2px black; 
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
}

/* MAIN */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

main section .carta{
  background-color: white;
  width: 23%;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  color: #E61986;
  font-size: 50px;
  text-align: center;
  padding-top: 230px;
  text-shadow: 2px 2px black; 
  box-shadow: 2px 2px black;
  float: left;
  margin: 20px 1%;
}

.mongolfiera{
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: cover;
  background-position: top;
}

.carta:hover{
  color: #E67919;
}

/* FOOTER */

footer{
  font-size: 30px;
  position:absolute;
  bottom:0;
  left: 0; 
  right: 0; 
  margin: auto;
  width: 300px;
}